In [192]:
import pandas as pd
import os

# Remoção dos Clientes Recorrentes dentre os Prospectos

In [193]:
# Caminho relativo para o arquivo dados.csv
open_path1 = os.path.join('..', 'dataset', 'filtrados_rev.csv')

# Ler o arquivo
df_cnpj = pd.read_csv(open_path1,
                 sep=';',
                 encoding='latin1',
                 on_bad_lines='skip',
                 engine='python'
                 )

In [194]:
df_cnpj.shape

(1683343, 15)

In [195]:
df_cnpj.head(4)

,cnpj_basico,cnpj_ordem,cnpj_dv,identificador_matriz_filial,data_situacao_cadastral,data_de_inicio_atividade,cnae_fiscal_principal,cnae_fiscal_secundaria,bairro,cep,uf,municipio,razao_social,capital_social,porte_empresa
0,7756651,33,32,2,2022-01-12,2022-01-12,6190601,"6110803,6319400",CENTRO,79002190.0,MS,9051,BRASIL TECPAR SERVICOS DE TELECOMUNICACOES S.A,655801154,5.0
1,7756651,42,23,2,2022-02-16,2022-02-16,6190601,"4751201,6204000",SETOR COMERCIAL,78550258.0,MT,8985,BRASIL TECPAR SERVICOS DE TELECOMUNICACOES S.A,655801154,5.0
2,4679549,1,5,1,2004-04-09,2001-09-24,8211300,NaN,TANGUA,83508270.0,PR,7407,MERANO GASTRONOMIA BORGUEZAM LTDA,40000,1.0
3,4718504,1,0,1,2005-11-03,2001-10-09,7711000,"7719599,0230600,7490104",PARQUE CAMPOLIM,18048100.0,SP,7145,RBM RAMIRES LOCADORA LTDA,50000,5.0

In [198]:
df_cnpj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1683343 entries, 0 to 1683342
Data columns (total 15 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   cnpj_basico                  1683343 non-null  int64
 1   cnpj_ordem                   1683343 non-null  int64
 2   cnpj_dv                      1683343 non-null  int64
 3   identificador_matriz_filial  1683343 non-null  int64
 4   data_situacao_cadastral      1683343 non-null  object
 5   data_de_inicio_atividade     1683343 non-null  object
 6   cnae_fiscal_principal        1683343 non-null  int64
 7   cnae_fiscal_secundaria       1077147 non-null  object
 8   bairro                       1682934 non-null  object
 9   cep                          1682291 non-null  float64
 10  uf                           1683343 non-null  object
 11  municipio                    1683343 non-null  int64
 12  razao_social                 1683343 non-null  object
 13  capital_social               1683343 non-null  int64
 14  porte_empresa                1682699 non-null  float64
dtypes: float64(2), int64(7), object(6)
memory usage: 192.6+ MB

In [199]:
open_path2 = os.path.join('..', 'dataset', 'Clientes_categorizados.xlsx')

df_clientes = pd.read_excel(open_path2)

In [200]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 52 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Cliente                               37 non-null     object
 1   Cliente anonimizado                   37 non-null     object
 2   Tipo de venda                         34 non-null     object
 3   Região                                37 non-null     object
 4   Atividade Principal                   33 non-null     object
 5   CNPJ                                  37 non-null     object
 6   Porte                                 37 non-null     object
 7   Capital Social                        37 non-null     float64
 8   Código e Descrição Natureza Juridica  37 non-null     object
 9   CNAE Principal                        37 non-null     object
 10  CNAE Secundário                       33 non-null     object
 11  Unnamed: 11                           28 non-null     object
 12  Unnamed: 12                           23 non-null     object
 13  Unnamed: 13                           21 non-null     object
 14  Unnamed: 14                           17 non-null     object
 15  Unnamed: 15                           14 non-null     object
 16  Unnamed: 16                           11 non-null     object
 17  Unnamed: 17                           9 non-null      object
 18  Unnamed: 18                           8 non-null      object
 19  Unnamed: 19                           6 non-null      object
 20  Unnamed: 20                           5 non-null      object
 21  Unnamed: 21                           5 non-null      object
 22  Unnamed: 22                           5 non-null      object
 23  Unnamed: 23                           3 non-null      object
 24  Unnamed: 24                           3 non-null      object
 25  Unnamed: 25                           3 non-null      object
 26  Unnamed: 26                           1 non-null      object
 27  Unnamed: 27                           1 non-null      object
 28  Unnamed: 28                           1 non-null      object
 29  Unnamed: 29                           1 non-null      object
 30  Unnamed: 30                           1 non-null      object
 31  Unnamed: 31                           1 non-null      object
 32  Unnamed: 32                           1 non-null      object
 33  Unnamed: 33                           1 non-null      object
 34  Unnamed: 34                           1 non-null      object
 35  Unnamed: 35                           1 non-null      object
 36  Unnamed: 36                           1 non-null      object
 37  Unnamed: 37                           1 non-null      object
 38  Unnamed: 38                           1 non-null      object
 39  Unnamed: 39                           1 non-null      object
 40  Unnamed: 40                           1 non-null      object
 41  Unnamed: 41                           1 non-null      object
 42  Unnamed: 42                           1 non-null      object
 43  Unnamed: 43                           1 non-null      object
 44  Unnamed: 44                           1 non-null      object
 45  Unnamed: 45                           1 non-null      object
 46  Unnamed: 46                           1 non-null      object
 47  Unnamed: 47                           1 non-null      object
 48  Unnamed: 48                           1 non-null      object
 49  Unnamed: 49                           1 non-null      object
 50  Unnamed: 50                           1 non-null      object
 51  Unnamed: 51                           1 non-null      object
dtypes: float64(1), object(51)
memory usage: 15.2+ KB

In [202]:
df_clientes['CNPJ'] = df_clientes['CNPJ'].str.replace(r'\D+', '')

C:\Users\fnsb\AppData\Local\Temp\ipykernel_15904\2934031713.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_clientes['CNPJ'] = df_clientes['CNPJ'].str.replace(r'\D+', '')

In [204]:
df_clientes['CNPJ'] = df_clientes['CNPJ'].apply(lambda row: row[:8])

In [205]:
df_clientes['CNPJ'] = df_clientes['CNPJ'].astype(int)

In [207]:
df_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 52 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Cliente                               37 non-null     object
 1   Cliente anonimizado                   37 non-null     object
 2   Tipo de venda                         34 non-null     object
 3   Região                                37 non-null     object
 4   Atividade Principal                   33 non-null     object
 5   CNPJ                                  37 non-null     int32
 6   Porte                                 37 non-null     object
 7   Capital Social                        37 non-null     float64
 8   Código e Descrição Natureza Juridica  37 non-null     object
 9   CNAE Principal                        37 non-null     object
 10  CNAE Secundário                       33 non-null     object
 11  Unnamed: 11                           28 non-null     object
 12  Unnamed: 12                           23 non-null     object
 13  Unnamed: 13                           21 non-null     object
 14  Unnamed: 14                           17 non-null     object
 15  Unnamed: 15                           14 non-null     object
 16  Unnamed: 16                           11 non-null     object
 17  Unnamed: 17                           9 non-null      object
 18  Unnamed: 18                           8 non-null      object
 19  Unnamed: 19                           6 non-null      object
 20  Unnamed: 20                           5 non-null      object
 21  Unnamed: 21                           5 non-null      object
 22  Unnamed: 22                           5 non-null      object
 23  Unnamed: 23                           3 non-null      object
 24  Unnamed: 24                           3 non-null      object
 25  Unnamed: 25                           3 non-null      object
 26  Unnamed: 26                           1 non-null      object
 27  Unnamed: 27                           1 non-null      object
 28  Unnamed: 28                           1 non-null      object
 29  Unnamed: 29                           1 non-null      object
 30  Unnamed: 30                           1 non-null      object
 31  Unnamed: 31                           1 non-null      object
 32  Unnamed: 32                           1 non-null      object
 33  Unnamed: 33                           1 non-null      object
 34  Unnamed: 34                           1 non-null      object
 35  Unnamed: 35                           1 non-null      object
 36  Unnamed: 36                           1 non-null      object
 37  Unnamed: 37                           1 non-null      object
 38  Unnamed: 38                           1 non-null      object
 39  Unnamed: 39                           1 non-null      object
 40  Unnamed: 40                           1 non-null      object
 41  Unnamed: 41                           1 non-null      object
 42  Unnamed: 42                           1 non-null      object
 43  Unnamed: 43                           1 non-null      object
 44  Unnamed: 44                           1 non-null      object
 45  Unnamed: 45                           1 non-null      object
 46  Unnamed: 46                           1 non-null      object
 47  Unnamed: 47                           1 non-null      object
 48  Unnamed: 48                           1 non-null      object
 49  Unnamed: 49                           1 non-null      object
 50  Unnamed: 50                           1 non-null      object
 51  Unnamed: 51                           1 non-null      object
dtypes: float64(1), int32(1), object(50)
memory usage: 15.0+ KB

In [208]:
df_prospectos = df_cnpj[~df_cnpj["cnpj_basico"].isin(df_clientes['CNPJ'])]

In [209]:
df_repetidos = df_cnpj[df_cnpj["cnpj_basico"].isin(df_clientes['CNPJ'])]

In [210]:
len(df_repetidos) - len(df_clientes)

390

Foram removidos 360 CNPJ repetidos.

In [211]:
len(df_repetidos) + len(df_prospectos) == len(df_cnpj)

True

In [212]:
df_prospectos.shape

(1682916, 15)

In [213]:
df_cnpj.shape[0] - df_prospectos.shape[0] - df_clientes.shape[0]

390

O resultado acima mostra que há CNPJ repetidos, porque o número o número de linhas removidas foi maior que o número de clientes.

# Armazenamento

In [215]:
save_path = os.path.join('..', 'dataset', 'ativos_filtrados_por_cnae.parquet')

df_prospectos.to_parquet(save_path)